# Visual Studio scaffolding files
Exchange bots.v12.suo
Exchange bots.sln.DotSettings.user
BitfinexBot/BitfinexBot.csproj.user
BtcChinaBot/BtcChinaBot.csproj.user
BtceBot/BtceBot.csproj.user
HuobiBot/HuobiBot.csproj.user
KrakenBot/KrakenBot.csproj.user
RippleBot/RippleBot.csproj.user

# Compiled assemblies
BitfinexBot/bin/*
BitfinexBot/obj/*
BtcChinaBot/bin/*
BtcChinaBot/obj/*
BtceBot/bin/*
BtceBot/obj/*
Common/bin/*
Common/obj/*
HuobiBot/bin/*
HuobiBot/obj/*
KrakenBot/bin/*
KrakenBot/obj/*
RippleBot/bin/*
RippleBot/obj/*