<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="BotConfigurations" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <!-- All trade plugins with configurations -->
  <BotConfigurations>
    <add key="BtcChinaBot_CST" value="hulala.txt" />
    <add key="HuobiBot?" value="another config . txt" />
    <add key="BtcChinaBot_CBT" value="value3" />
    <add key="name4" value="value4" />
  </BotConfigurations>

  <appSettings>
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
